<div class="aboutus">
<h2 style="text-align: center">About Us</h2>
<p style="margin-left: 6%">
  Miranda guest house is a stunning venue and conference centre tucked away in the valley below the majestic Qwaqwa Mountains. <br>
  Just 15 minutes drive to natural attractions such as Golden Gate and Sterkfontein Dam, and 45 minutes from the <br>
  beautiful town of Clarens, Miranda caters for business and pleasure. Our team of expert event planners can help you coordinate <br>   the perfect function: from weddings to conferences. Our comfortable, affordable accommodation suits the business person, the intrepid <br>
  explorer and the family getaway.
</p>

</div>