<div>
  <img id="guest2" src="../../../assets/guest2.jpg" alt="image">
  
  <img id="guest4" src="../../../assets/guest4.jpg" alt="image">
 
  <!-- <img id="guest7" src="../../../assets/guest7.jpg" alt="image"> -->
  <!-- <img id="guest7" src="../../../assets/guest7.jpg" alt="image"> -->

  
</div>
<div>
  <img id="guest1" src="../../../assets/guest1.jpg" alt="image">
  
  <!-- <img id="guest" src="../../../assets/guest.jpg" alt="image">
  <img id="guest6" src="../../../assets/guest6.jpg" alt="image">
  <img id="guest7" src="../../../assets/guest7.jpg" alt="image"> -->
  <img id="guest7" src="../../../assets/guest7.JPG" alt="image">

    <!-- <img id="guest3" src="../../../assets/guest3.jpg" alt="image">
    <img id="guest6" src="../../../assets/guest6.jpg" alt="image"> -->
</div>